
.Deshboard-Content{
    background-color:#ebccff;
    padding-bottom: 6%;
    padding-top:0.1%;
   
}
.Dashboard-header{

    margin-left: 700px;
  
}

.Deshboard-Content img{

    margin-left: 550px;
    width: 500px;
    height: 250px;
    margin-top: 20px;

}

.cards{

    margin-left: 370px;
}

.dash-items{

   
    margin-top: 60px;
    display: flex;
}

.dash-item{

    margin-left: 70px;
    margin-bottom: 30px;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 18px;
    border-radius: 40%;
    background-color: #d699ff;
    

}

.dash-item p{

    margin-top: 15px;

}